/* Global */
button {
  cursor: pointer;
}

/* App */
.appContainer {
  margin: auto;
  width: 400px;
}

.appContainer h1, .appContainer h4 {
  text-align: center;
}

.search {
  width: 100%;
  margin-bottom: 8px;
}

.newForm {
  width: 100%;
  margin-bottom: 8px;
}

.newForm input {
  width: 144px;
  margin-right: 2px;
}

.newForm .numberInput {
  width: 50px;
}

.newForm button {
  width: 38px;
  background: #cfcfcf;
  transition: all 0.2s;
}

.newForm button:hover {
  background: #a6a5a5
}

/* Expense List */
.expenseItem {
  width: 100%;
  min-height: 48px;
  padding: 5px;
  border: 1px solid black;
}

.expenseItem:hover {
  background: #f4f4f4;
}

.expenseItem .expenseItemHead {
  font-size: 1.1em;
}

.expenseItem .expenseDescription {
  margin: 5px;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

.fade-exit {
  opacity: 1;
  transform: translateX(0)
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translateX(50%);
  transition: all 100ms ease-in;
}
